*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Consolas";
}


button,input{
  outline: none;
  border: none;
}


body{
  background: #e8edf8;

}
ul,ol{
  list-style: none;
}


.row{
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
}

.loading{
  opacity: .6;
  pointer-events: none;
}